<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ENG">
<head>
    <meta charset="UTF-8">
    <title>Update Ingredient</title>
</head>
<body>
<h3>Edit Ingredient</h3>
<br>
<form action="#" th:action="@{/ingredients/save}" th:object="${ingredient}" method="post">
    <label for="update"> Edit ingredient:</label>
    <input id="update" type= "text" th:field="*{description}"/>
    <input type="text" th:field="*{id}" readonly="readonly" />
    <button type="submit">Save</button>
</form>
<br>
</body>
</html>